snippet fori "for(int i = 0; i < n; i++)" b
for(int i = 0; i < n; i++) {
	$1
}
endsnippet

snippet forj "for(int j = 0; j < n; j++)" b
for(jnt j = 0; j < n; j++) {
	$1
}
endsnippet

snippet print "printf" b
printf("${1:message}\n", $2);
endsnippet
